*.db
*.exe
*.obj
*.ilk
*.pfb
*.pdb
*.exp
*.jar
*.log
*.pch
*.sdf
*.suo
*.swp
*.vspx
*.ipch
*.user
*.tlog
*.opendb
*.opensdf
*.manifest
*.lastbuildstate

bin/
ipch/
Debug/
Release/

.vs/
_int/
_out/
_pub/

#exclusions
!Tools/Publication/Tools/*.exe